<div *ngIf="employeeShow">
  <h1 class="header">
    <span>{{ title }}</span>
  </h1>
  <div class="form_data">
    <form class="form" [formGroup]="eRegistration">
      <div class="form_content">
        <label for="id">Employee Id :</label>
        <input type="text" name="eid" id="" formControlName="eid" />
      </div>

      <div class="form_content">
        <label for="ename">Employee Name :</label>
        <input
          formControlName="employeeName"
          type="text"
          class="form-control"
        />

        <div class="form_error" *ngIf="submitted && employeeName?.invalid">
          Name is required
        </div>
        <div class="form_error" *ngIf="employeeName?.errors?.['pattern']">
          Enter Letters First
        </div>
      </div>

      <div class="form_content">
        <label for="designation">Designation :</label>
        <select
          name="designation"
          id="designation"
          formControlName="designation"
        >
          <option value="" disabled selected hidden>Select</option>
          <option [value]="desig" *ngFor="let desig of designation">
            {{ desig }}
          </option>
        </select>
      </div>

      <div class="form_content">
        <label for="salary">Salary :</label>
        <input type="text" class="form-control" formControlName="salary" />
        <div class="form_error" *ngIf="submitted && salary?.invalid">
          Salary is required
        </div>
        <div class="form_error" *ngIf="salary?.errors?.['pattern']">
          Enter Numbers Only
        </div>
      </div>

      <div class="form_content">
        <label for="email">Email :</label>
        <input type="email" class="form-control" formControlName="email" />
        <div class="form_error" *ngIf="submitted && email?.invalid">
          Email is required
        </div>
        <div class="form_error" *ngIf="email?.errors?.['pattern']">
          Enter Valid Email
        </div>
      </div>

      <div class="form_content">
        <label for="mobile">Mobile :</label>
        <input type="text" class="form-control" formControlName="mobile" />
        <div class="form_error" *ngIf="submitted && mobile?.invalid">
          Mobile No is required
        </div>
        <div class="form_error" *ngIf="mobile?.errors?.['pattern']">
          Start with 6 or 7 or 8 or 9 only
        </div>
      </div>

      <div class="form_content">
        <label for="gender">Gender :</label>
        <div class="radio_btn">
          <input
            type="radio"
            value="male"
            class="form-control"
            formControlName="gender"
          />&nbsp; Male &nbsp;&nbsp;
          <input
            type="radio"
            value="female"
            class="form-control"
            formControlName="gender"
          />&nbsp; Female &nbsp;&nbsp;
          <input
            type="radio"
            value="others"
            class="form-control"
            formControlName="gender"
          />&nbsp; Others &nbsp;&nbsp;
        </div>
        <div class="form_error" *ngIf="submitted && gender?.invalid">
          Select Gender
        </div>
      </div>

      <div class="form_content">
        <label for="languages">Languages Known :</label>
        <div *ngFor="let language of languages; let i = index">
          <label>
            <input
              type="checkbox"
              [value]="language.value"
              (change)="onCheckboxChange($event)"
            />
            {{ language.name }}
          </label>
        </div>
      </div>

      <div class="form_content">
        <label for="qualification">Qualification :</label>
        <select
          name="qualification"
          id="qualification"
          formControlName="qualification"
        >
          <option value="" disabled selected hidden>Select</option>
          <option [value]="qualify" *ngFor="let qualify of qualification">
            {{ qualify }}
          </option>
        </select>
      </div>

      <div class="form_content">
        <label></label>
        <div *ngIf="buttonHide">
          <input type="submit" value="Submit" (click)="onSubmit()" />
        </div>

        <div *ngIf="buttonShow">
          <input type="submit" value="Update" (click)="updateRowData()" />
        </div>
        <input type="reset" value="Reset" (click)="resetForm()" />
      </div>
    </form>
  </div>
  <div class="view">
    <input
      type="button"
      value="View Employers"
      class="button"
      (click)="listShow()"
    />
  </div>
</div>

<!-- ========== LIST IN TABLE====================== -->

<div *ngIf="employeeHide">
  <h3 class="header1">
    <span>{{ title1 }}</span>
  </h3>
  <div>
    <table>
      <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Gender</th>
        <th>Languages</th>
        <th>Qualification</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let emplist of emplList; let i = index">
        <td>{{ emplist.eid }}</td>
        <td>{{ emplist.employeeName }}</td>

        <td>{{ emplist.designation }}</td>
        <td>{{ emplist.salary | currency: "INR" }}</td>

        <td>{{ emplist.email }}</td>
        <td>{{ emplist.mobile }}</td>

        <td>{{ emplist.gender }}</td>
        <td>{{ emplist.languages }}</td>

        <td>{{ emplist.qualification }}</td>
        <td>
          <button class="button" (click)="editRowData(emplist)">Edit</button>
          <button class="button" (click)="deleteRowData(emplist)">
            Delete
          </button>
        </td>
      </tr>
      <tr></tr>
    </table>
  </div>

  <div class="view">
    <input
      type="button"
      value="View Form"
      class="button"
      (click)="listHide()"
    />
  </div>
</div>
